<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="revoo" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Revoo Configuration</label>
			<tab>catalog</tab>
			<resource>OrviSoft_Reevoo::config_orvisoft_reevoo</resource>
			<group id="option" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Reevoo Core Settings</label>
				<field id="enable" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label" type="select">
					<label>Enable</label>
					<comment>Enable/ Disable module.</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="attribute" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Select Attribute</label>
					<comment>Select SKU or product unique identifier (e.g. MPN or something)</comment>
					<source_model>OrviSoft\Reevoo\Model\Config\Source\Attribute</source_model>
					<depends>
						<field id="revoo/option/enable">1</field>
					</depends>
				</field>
				<field id="per_page" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Per Page Reviews</label>
					<comment>Per page reviews by Reevoo on product page (default is 10)</comment>
					<depends>
						<field id="revoo/option/enable">1</field>
					</depends>
				</field>
				<field id="partner_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Account Code</label>
					<comment>Account ID is also known as TRKREF, this is to be provided by Reevoo.</comment>
					<depends>
						<field id="revoo/option/enable">1</field>
					</depends>
				</field>
			</group>
			<group id="feed_settings" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="11" translate="label">
				<label>Reevoo Feed Configuration</label>
				<field id="enable" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label" type="select">
					<label>Enable</label>
					<comment>Enable feed generation in the background.</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<depends>
						<field id="revoo/option/enable">1</field>
					</depends>
				</field>
				<field id="feed_path" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label" type="select">
					<label>Feed Path</label>
					<comment>Feed path, local should save feeds in var/revoo_feed/mm-dd-yyyy.csv</comment>
					<source_model>OrviSoft\Reevoo\Model\Config\Source\FeedPath</source_model>
					<depends>
						<field id="revoo/option/enable">1</field>
						<field id="revoo/feed_settings/enable">1</field>
					</depends>
				</field>
				<field id="ftp_host" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label" type="text">
					<label>FTP Host</label>
					<comment>FTP Host where you want to upload</comment>
					<depends>
						<field id="revoo/option/enable">1</field>
						<field id="revoo/feed_settings/enable">1</field>
						<field id="revoo/feed_settings/feed_path">ftp</field>
					</depends>
				</field>
				<field id="ftp_user" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label" type="text">
					<label>FTP User</label>
					<comment>Username for FTP</comment>
					<depends>
						<field id="revoo/option/enable">1</field>
						<field id="revoo/feed_settings/enable">1</field>
						<field id="revoo/feed_settings/feed_path">ftp</field>
					</depends>
				</field>
				<field id="ftp_pass" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label" type="text">
					<label>FTP Password</label>
					<comment>Password for FTP</comment>
					<depends>
						<field id="revoo/option/enable">1</field>
						<field id="revoo/feed_settings/enable">1</field>
						<field id="revoo/feed_settings/feed_path">ftp</field>
					</depends>
				</field>
			</group>
			<group id="cronjob" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="12" translate="label">
				<label>Reevoo Scheduler Configuration</label>
				<field id="frequency" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label" type="select">
					<label>Freequency</label>
					<source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
					<backend_model>OrviSoft\Reevoo\Model\Config\Backend\Frequency</backend_model>
					<depends>
						<field id="revoo/option/enable">1</field>
						<field id="revoo/feed_settings/enable">1</field>
					</depends>
				</field>
				<field id="time" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label" type="time">
					<label>Start Time</label>
					<depends>
						<field id="revoo/option/enable">1</field>
						<field id="revoo/feed_settings/enable">1</field>
					</depends>
				</field>
			</group>
		</section>
	</system>
</config>
